@model IEnumerable<TesterStudyGuide_WebApp.Models.StudyRecordModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.studyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hoursStudied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoursStudied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.calendar_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.calendar_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.calendar_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
