@model IEnumerable<TesterStudyGuide_WebApp.Models.ModuleModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.classHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalStudyHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalStudyHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyDays)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.code">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
